footer {
    background-color: black;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    gap: 3em;
    padding-top: 2em;
    justify-content: center;
}

.footer-container .fot-col {
    flex-basis: 15%;
}

.footer-container .fot-col:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-container .fot-col:nth-child(1) h3{
    color: #fff;
    font-size: 0.9em;
}

.footer-container .fot-col:nth-child(1) p {
    color: #6e6c6c;
    font-size: 0.7em;
}

.install-stores {
    display: flex;
    gap: 0.5em;
    cursor: pointer;
}


.footer-container .fot-col:nth-child(2) p {
    color: #6e6c6c;
    font-size: 0.7em;
}

.footer-container .fot-col:nth-child(2) .logo-footer {
    width: 10em;
    margin: 0 auto;
    padding-bottom: 1.4em;
    cursor: pointer;
}

.footer-container .fot-col:nth-child(3) h3 {
    color: #fff;
    font-size: 0.95em;
    text-align: center;
    padding-bottom: 0.2em;
}

.footer-container .fot-col:nth-child(3) ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container .fot-col:nth-child(3) ul li a{
    text-decoration: none;
    color: #6e6c6c;
    font-size: 0.9em;
}

.footer-container .fot-col:nth-child(4) h3 {
    color: #fff;
    font-size: 0.95em;
    text-align: center;
    padding-bottom: 0.2em;
}

.footer-container .fot-col:nth-child(4) ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container .fot-col:nth-child(4) ul li a{
    text-decoration: none;
    color: #6e6c6c;
    font-size: 0.9em;
}

.footer-container .fot-col:nth-child(3) ul li a:hover,
.footer-container .fot-col:nth-child(4) ul li a:hover{
    text-decoration: underline;
}